
body{
    background: beige;
}
.contenedor{
    width: 50%;
    margin: auto;
}
.caja-imagen{
    border: 6px black solid;
    
}
.caja-informacion{
    color: black;
    background: white;
    padding: 7px;
    margin-top: 10px;
    font-size: 20px;
    border: 6px black solid;
    
}

.caja-datos{
    color: black;
    background: white;
    padding: 7px;
    margin-top: 10px;
    font-size: 20px;
    border: 6px black solid;
}

.caja-experiencia{
    color: black;
    background: white;
    padding: 7px;
    margin-top: 10px;
    font-size: 20px;
    border: 6px black solid;
}

.caja-estudios{
    color: black;
    background: white;
    padding: 7px;
    margin-top: 10px;
    font-size: 20px;
    border: 6px black solid;
}


.caja-hobbies{
    color: black;
    background: white;
    padding: 7px;
    margin-top: 10px;
    font-size: 20px;
    border: 6px black solid;
}